.scheduleContainer {
    /*margin: 20px;*/
    /*padding: 20px;*/
}

.scheduleCard {
    display: block;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px whitesmoke;
    border-radius: 20px;
    background-color: rgba(32, 49, 172, 0.3);
}

.date {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.problem {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    font-size: 18px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(204, 204, 204, 0.2);
    cursor: default;


    &.problemLast {
        padding-bottom: 12px;
    }
}

.problemDetail {
    &.title {

    }

    &.platform {
        padding-left: 18px;
        font-size: 14px;
    }

    &.algorithmType {
        padding-left: 18px;
        font-size: 14px;
    }
}

.problem:hover {
    cursor: default;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

.goBackButton {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgba(47, 85, 151, 0.5);
    color: white;
    cursor: pointer;
}
