#app {

}

#logo {
    width: 10vw;
    height: auto;
    max-height: 10vh;
    object-fit: contain;
}

.cookieLogo {
    width: 10vw;
    height: auto;
    border-radius: 5px;

    &.activated {
        background-color: whitesmoke;
    }

    &.deactivated {
        background-color: #cccccc;
    }
}

.cookieLogo:hover {
    box-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}


.logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.interactive-text {
    font-size: 20px;
}

.interactive-text:hover {
    cursor: default;
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}