.scheduleContainer {
}

.scheduleContainerHeader {
    display: flex;
    flex-direction: row;
}

.scheduleCard {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px whitesmoke;
    border-radius: 20px;
    background-color: rgba(32, 49, 172, 0.3);
    justify-content: space-between;
}

.date {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 0.5vh;
}

.problem {
    display: flex;
    flex-direction: row;
}

.problemContents {
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 35px;
    font-size: 18px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(204, 204, 204, 0.2);
    cursor: default;

    &.last {
        padding-bottom: 12px;
    }
}

.problemContent {
    display: flex;
    flex-direction: column;
    &.title {

    }

    &.platform {
        padding-left: 18px;
        font-size: 14px;
    }

    &.algorithmType {
        padding-left: 18px;
        font-size: 14px;
    }
}

.problemContents:hover {
    cursor: default;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

.problemFeatures {
    margin-top: 20px;
    padding-right: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 45px;
    height: 45px;
    padding-right: 10px;
}

.goBackButton {
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 50px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: rgba(47, 85, 151, 0.5);
    color: white;
    cursor: pointer;
}
